<!DOCTYPE html>
<html ng-app="365scoreApp">
<head>
    <title>365Scores Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/365scores.css" rel="stylesheet" media="screen">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="MainCtrl">
<div class="header">
    <div class="logo-wrapper">
        <a href="index.html"><img src="images/logo.png" alt="365Scores"></a>
        <a class="menu-trigger" ng-click="toggleMenu = !toggleMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>

</div>
<div class="sidebar" ng-class="{'is-opened': toggleMenu}">
    <ul>
        <li class="current"><a href="">Scores</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Transfers</a></li>
        <li><a href="">Highlights</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">My Profile</a></li>
    </ul>
</div>
<div class="main-section">

    <!-- Sunday, 27 March -->
    <div class="centered-box">
        <div class="day-grouping">
            {{ currentDate | date }}
        </div>
    </div>
    <div class="scores-box" ng-repeat="comp in games">
        <div class="scores-box-header">
            <img ng-src="http://imagescache.365scores.com/image/upload/w_140,h_140,c_limit,f_webp,q_90,d_Countries:Round:default.png/Countries/Round/{{comp.countryId}}" width="30" height="20">
            <h3>{{ comp.compName }}</h3>
        </div>
        <div class="scores-box-row" ng-repeat="game in comp.gamesList">
            <div class="logo1">
                <img ng-src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{game.Comps[0].ID}}">
            </div>
            <div class="side1">
                {{ game.Comps[0].Name }}
            </div>

            <div ng-if="game.Active == false && game.Scrs[0] !== -1 && game.Scrs[1] !== -1" class="status-wrapper status-past">
                <div class="score">
                    <span ng-show="game.Scrs[0] == -2">0</span> <!-- Sometimes the update gives less than -1 -->
                    <span ng-show="game.Scrs[0] > -1">{{ game.Scrs[0] }}</span>
                     - 
                    <span ng-show="game.Scrs[1] == -2">0</span>
                    <span ng-show="game.Scrs[1] > -1">{{ game.Scrs[1] }}</span>
                </div>
                <span class="status">Finished</span>
            </div>
            <div ng-if="game.Active == false && game.Scrs[0] === -1 && game.Scrs[1] === -1" class="status-wrapper status-past">
                <span class="status">{{ game.date[0] }}</span>
                <div class="score">
                    {{ game.date[1] }}
                </div>
            </div>
            <div ng-if="game.Active == true" class="status-wrapper status-past">
                <span ng-show="game.GT <= 45" class="status">First Half</span>
                <span ng-show="game.GT > 45" class="status">Second Half</span>
                <div class="score">
                    {{ game.Scrs[0] }} - {{ game.Scrs[1] }}
                </div>
                <span ng-show="game.Active == true" class="live">LIVE - '{{ game.GT }}</span>
            </div>

            <div class="side2">
                {{ game.Comps[1].Name }}
            </div>
            <div class="logo2">
                <img ng-src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{game.Comps[1].ID}}">
            </div>
        </div>
    </div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="src/app.js"></script>
<script src="src/controllers/MainCtrl.js"></script>
<script src="src/services/MainService.js"></script>
</body>
</html>